@import "variables.less";
@import "mixins.less";

.text-primary {
    color: @theme-primary;
}

.hidden-file {
    width: 1px;
    height: 1px;
    opacity: 0;
}

.progress-nearly-done {
    transition: background-color 100ms linear;
}